@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.phone-container {
  width: 320px;
  height: 90%;
}

main {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .phone-container {
    width: 100%;
    height: 100%;
  }
}
